a {
  padding-left: 5px;
}

a:link {
  color: #94c973;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #94c973;
  background-color: transparent;
  text-decoration: none;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.contactItem {
  display: inline-block;
  padding: 5px;
}

h4, h5 {
  margin: 2px;
}

.lastItem {
  padding-bottom: 18px;
  border-bottom: 1px solid;
}

.spacer {
  margin: 28px;
}